/* Universal Styling */

body {
    font-family: 'Rubik', sans-serif;
}

/* Grid Container */

.container {
    width: 232px;
    height: 290px;
    display: grid;
    grid-template-areas: "header"
                         "to-do-list"
                         "more-options";
    grid-template-columns: 100%;
    grid-template-rows: 20% 60% 20%;
    justify-items: center;
}

/* Header */
.header {
    grid-area: header;
    align-self: center;
    text-align: center;
}

.header h1 {
    font-size: 1.5rem;
}

/* To-do list Items */

.to-do-items {
    grid-area: to-do-list;
    width: 100%;
    display: grid;
    grid-template-columns: 100%;
    align-content: start;
    grid-row-gap: 10px;
    grid-auto-flow: row;
}

.task-item {
    border: 2px solid black;
    border-radius: 15px;
    height: 36px;
    margin: 0 10px;
    display: flex;
    align-items: center;
}

.task-item form {
    margin-left: 5px;
}

.task-item form label {
    font-size: 1.125rem;
    text-decoration: line-through;
}

/* More Options */

.more-options {
    grid-area: more-options;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 15px;
}

#addItem {
    border: 2px solid black;
    border-radius: 15px;
    background-color: white;
    width: 144px;
    padding: 5px 0;
}

.more-options a {
    color: black;
}